<html>
<head>
</head>

<body>

    <div class="topo">

        <div class="logo">
        <a href="/">LogoTipo </a>
        </div>

        <div class="lastupdate">
        <h2>Ultima atuliazção</h2>
        <p>{{data.lastUpdatedAtApify}}</p>
        </div>

    </div>



    <div class="dash">

        <div class="dash-children">
        <p>Recuperados</p>
        <p>{{data.recovered}}</p>
        </div>

        <div class="dash-children">
        <p>Infectados<p>
        <p>{{data.infected}}</p>
        </div>  
        

        <div class="dash-children">
        <p>Obitos</p>
        <p>{{data.deceased}}</p>

    </div>
        
        
    </div>
</body>
</html>