<html>
<head>
</head>

<body>

    <div class="logo">
     <a href="/">LogoTipo </a>
    </div>

    <div class="dash">
        <div class="lastupdate">
        <h2>Ultima atuliazção</h2>
        <p>{{data.lastUpdatedAtApify}}</p>
        </div>

        <div class="Infected">
        <h2>Infectados</h2>
        <p>{{data.infected}}</p>
        </div>

        <div class="recovered">
        <h2>Recuperados</h2>
        <p>{{data.recovered}}</p>
        </div>

        <div class="deceased">
        <h2>óbitos</h2>
        <p>{{data.deceased}}</p>
        </div>
        
        
    </div>
</body>
</html>