<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <main>
        <header>
            <figure class="logo"><img src=""></figure>
            <h3>Este web-service tem uma conexão direta com a <cite>API</cite> do ministério da saúde</h3>
            <section class="time">
            <time><h4>Ultima Atualização <br> <strong> {{dados.lastUpdatedAtApify}}</strong> </h4> </time>
            </section>
        </header>
            <section class="container-dash">
                <section class="dash-title">
                <h1>Dados do Corona-virus no Brasil</h1>
                </section>
                
                <section class="dash-children">   
                <article class="dash-box">
                    <h4>Infectados</h4>
                    <h2>{{dados.infected}}<h2>
                </article>

                <article class="dash-box">
                    <h4>Recuperados</h4>
                    <h2>{{dados.recovered}}</h2>
                </article>


                <article class="dash-box">
                    <h4>Obitos</h4>
                    <h2>{{dados.deceased}}<h2>
                </article>
            </section>

        </section>

          <section class="section-input">  
         {{#dados.true}}
                <article>
                    <form method="get">
                        <h1 class="title-input">Digite a sigla do seu estado</h1>
                        <input class="input" type="text"  name="state" placeholder="Inserir sigla">
                    </form>
                </article>
            {{/dados.true}}



        <section class="return">

        {{#dados}}
            {{#dados.deceasedByRegion}}
              <h1>Obitos</h1>  {{count}} 
            {{/dados.deceasedByRegion}}
        <article>
            <h1>{{state}}</h1>
            <h2>{{count}}<h2>
            <a href="/">Limpar</a>
        <article>
        {{/dados}}

        {{^dados}}
        Por favor digite apenas a sigla do seu estado, exemplo: <strong>PE</strong>
        {{/dados}}
        </section>
        </section>



        <footer>Copyright | Clemeson Alves © | Rede Cidadã | Start-latam </footer>
    </main>
    <script src="/js/script.js"></script>


</body>
</html>


    </main>
    <script src="/js/script.js"></script>


</body>
</html>