<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <title>{{title}}</title>
</head>
<body>
     <header>
            <div class="container-header">
            <h1>Start Latam 2021 ©</h1>
            </div>
    </header>
    <main class="container-main">
        <section class="time">
                <div>
                <h1>Atualizado há {{dados.horas}} horas</h1>
                </div>
            
            </section>
        <section class="container-return">
            {{#dados}}
                {{#dados.deceasedByRegion}}
                    <div class="info-estado"><h1>Dados do corona virus por estado</h1></div>
                    <section class="return-card">
                    <h1 class="state">{{state}}</h1>
                        <div class="return-child">
                            <h1 class="text-input">Obitos: {{count}}</h1> 
                        </div>
                {{/dados.deceasedByRegion}}
                    <div class="return-child">
                            <h1 class="text-input">Infectados: {{count}}</h1>
                        </div>
                        </section>
                        <a href="/" class="btn-clean">Voltar</a>
            {{/dados}}
        </section>
        {{^dados}}
            <section class="container-cards">
                <h1 class="info-cards">Dados do Corona-Virus no Brasil</h1>
                <div class="div-cards">
                    <article class="cards">
                        <figure><img src="img/mask.png" alt=""></figure>
                        <div class="text-cards">
                            <p>Infectados</p>
                            <p>{{dados.infected}}</p>
                        </div>
                    </article>

                    <article class="cards">
                        <figure><img src="img/restart.png" alt=""></figure>
                        <div class="text-cards">
                            <p>Recuperados</p>
                            <p>{{dados.recovered}}</p>
                        </div>
                    </article>

                    <article class="cards">
                        <figure><img src="img/star.png" alt=""></figure>
                        <div class="text-cards">
                        <p>Obitos</p>
                            <p>{{dados.deceased}}</p>
                        </div>
                    </article>
                </div>
            </section>
        {{/dados}}
        <section class="container-getstate">
            <div class="info-getstate">
                <h1 class="info-getstate-child">Buscar dados do Corona-Virus por Estados</h1>
                <h2 class="info-getstate-child">Digite apenas a Sigla do Estado, Ex: PE</h2>
            </div>
            <form class="form" method="get">
                <input class="input" name="state" type="text" autofocus placeholder="Digite apenas a sigla do Estado">
                <input type="submit" class="btn-send" value="enviar">
            </form>
        </section>
    <footer class="footer">
        <p>Clemeson Alves © || Start Latam 2021</p>
    </footer>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>