
:root {
    --verde:#036B52;
    --azul:#3F91FC;
    --branco:#FFFFFF;
    --sombra:#dce0e4;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-principal{

    margin: 0 auto;
    height: 100vh;
}

.container-header{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}

.dash{
    align-items: center;
    height: 70px;
    background: var(--verde);
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.dash-children{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--branco);
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.dash-children p{

}

.topo{
    display: flex;
    justify-content: space-around;
}
